body
{
    background-image: url("file:///E:/ProjectBasundharaGroup/Image/10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Corporate_Office{
    list-style-type: none;
}

ul li.nav-item:hover{
    background-color: crimson;
}
.hovereff:hover{
    color:red
}